# PHASE 2 PROJECT

## Business Objective:

Your company is launching a movie studio. You have been tasked with analyzing current trends in movies to provide 3 actionable recommendations for what types of movies the studio should produce.

### 1. Key Business Questions:

What genres tend to perform best at the box office?

Do critic ratings predict box office success?

How do budget levels correlate with box office revenue?

### 2. Data Loading and Initial Exploration
Import Libraries

In [105]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import pandas as pd
import re

### Load Datasets

In [106]:
# IMDB SQLite Database
conn = sqlite3.connect('im.db')

# Create a cursor object
cursor = conn.cursor()

# Query to list tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch and print results
tables = cursor.fetchall()
tables

[]

In [107]:
#BOM movie gross CSV
df_bom = pd.read_csv('bom.movie_gross.csv')
df_bom.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [108]:
#Rotten Tomatoes movie info (TSV)
df_rt_info = pd.read_csv('rt.movie_info.tsv', sep='\t')
df_rt_info.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [109]:
#Rotten Tomatoes reviews (TSV)
df_rt_reviews = pd.read_csv('rt.reviews.tsv', sep='\t', encoding ='latin1')  # encoding ='latin1' fixes non character errors
df_rt_reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [110]:
# TheMovieDB movies (CSV)
df_tmdb = pd.read_csv('tmdb.movies.csv')
df_tmdb.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [111]:
#The Numbers movie budgets (CSV)
df_tn_budgets = pd.read_csv('tn.movie_budgets.csv')
df_tn_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

### 3. Data Clean-up

1. BOM MOVIE GROSS CSV

In [112]:
#BOM movie gross CSV Data Clean up
df_bom = pd.read_csv('bom.movie_gross.csv')
df_bom.tail()

,title,studio,domestic_gross,foreign_gross,year
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [113]:
df_bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [114]:
df_bom['domestic_gross'] = df_bom['domestic_gross'].astype('object')

In [115]:
df_bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   object
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: int64(1), object(4)
memory usage: 132.4+ KB

In [116]:
df_filled = df_bom.copy()

df_filled["title"] = df_filled["title"].fillna("Unknown")

df_filled["studio"] = df_filled["studio"].fillna("Unknown")

df_filled["domestic_gross"] = df_filled["domestic_gross"].fillna("Unknown")
df_filled["foreign_gross"] = df_filled["foreign_gross"].fillna("Unknown")
df_filled["year"] = df_filled["year"].fillna("Unknown")


df_filled

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,4.15e+08,652000000,2010
1,Alice in Wonderland (2010),BV,3.342e+08,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,2.96e+08,664300000,2010
3,Inception,WB,2.926e+08,535700000,2010
4,Shrek Forever After,P/DW,2.387e+08,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200,Unknown,2018
3383,Edward II (2018 re-release),FM,4800,Unknown,2018
3384,El Pacto,Sony,2500,Unknown,2018
3385,The Swan,Synergetic,2400,Unknown,2018
3386,An Actor Prepares,Grav.,1700,Unknown,2018

In [117]:
#Checking for duplicates and viewing duplicated rows
print(f"Number of duplicate rows: {df_filled.duplicated()}")

# Show the duplicate rows
dupes = df_filled[df_filled.duplicated()]
print("\nDuplicate rows:")
print(dupes)

# Remove duplicates and keep the first occurrence
df_no_dupes = df_filled.drop_duplicates()

print(f"\nShape before removing duplicates: {df_filled.shape}")
print(f"Shape after removing duplicates: {df_no_dupes.shape}")
df_no_dupes

Number of duplicate rows: 0       False
1       False
2       False
3       False
4       False
        ...
3382    False
3383    False
3384    False
3385    False
3386    False
Length: 3387, dtype: bool

Duplicate rows:
Empty DataFrame
Columns: [title, studio, domestic_gross, foreign_gross, year]
Index: []

Shape before removing duplicates: (3387, 5)
Shape after removing duplicates: (3387, 5)

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,4.15e+08,652000000,2010
1,Alice in Wonderland (2010),BV,3.342e+08,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,2.96e+08,664300000,2010
3,Inception,WB,2.926e+08,535700000,2010
4,Shrek Forever After,P/DW,2.387e+08,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200,Unknown,2018
3383,Edward II (2018 re-release),FM,4800,Unknown,2018
3384,El Pacto,Sony,2500,Unknown,2018
3385,The Swan,Synergetic,2400,Unknown,2018
3386,An Actor Prepares,Grav.,1700,Unknown,2018